<h1><a href="/r/LonghornNation">/r/LonghornNation</a> Daily Off Topic Free Talk Thread</h1>
<hr>
<h5>Today: <%= data.date.short %></h5>
<hr>
<% if(data.last_thread) { %>
<a href="<%= data.last_thread.url %>">Last Thread</a>
<hr>
<% } %>
<h3>Current Austin Weather: <%= data.weather.current.temp %>° and <%= data.weather.current.conditions %></h3>
<hr>
<h5>Seven Day Forecast:</h5>
<table>
    <thead>
        <tr>
            <% for(var i=0; i < data.weather.forecast.length; i++) { %>
                <th><%= data.weather.forecast[i].date %></th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% for(var i=0; i < data.weather.forecast.length; i++) { %>
                <td><%= data.weather.forecast[i].temp.max %>°, <%= data.weather.forecast[i].conditions %></td>
            <% } %>
        </tr>
    </tbody>
</table>
<hr>
<h1>Your go-to place to talk about whatever you want. From the dumb shit aggies do on a near daily basis, to the latest whatever happening wherever. What ya got?</h1>
<hr>
<% if(data.tweets != null && data.tweets.length > 0) { %>
<h3>Recent Longhorn Tweets</h3>
<ol>
    <% for(var i=0; i < data.tweets.length; i++) { %>
        <li>
            <strong>@<%= data.tweets[i].screen_name %></strong>
            <a href="<%= data.tweets[i].url %>"><%= data.tweets[i].text %></a>
        </li>
    <% } %>
</ol>
<hr>
<% } %>
<% if(data.calendar != null && data.calendar.length > 0) { %>
<h3>Here's a look at upcoming Longhorn Sporting Event(s):</h3>
<ol>
    <% for(var i=0; i < data.calendar.length; i++) { %>
        <li>
            <a href="<%= data.calendar[i].link %>"><%= data.calendar[i].title %></a>
        </li>
    <% } %>
</ol>
<hr>
<% } %>
<h3>Trending on Reddit</h3>
<% for(var i=0; i < data.top.length; i++) { %>
    <h6><a href="/<%= data.top[i].link %>">/<%= data.top[i].link %></a></h6>
    <ol>
        <% for(var n=0; n < data.top[i].posts.length; n++) { %>
            <li><a href="<%= data.top[i].posts[n].link %>"><%= data.top[i].posts[n].title %></a></li>
        <% } %>
    </ol>
<% } %>
<hr>
LonghornBot: you can get a list of commands you can give for the bot by commenting ".help". You will receive a private message with the commands. 
<hr>
<p>This thread was programmatically generated and posted on <%= data.date.long %>. If you have any questions or comments, please contact /u/brihoang or /u/chrislabeard</p>
