<h1><a href="/r/BigXII">Basketball</a>: (<%= data.basketball.rankings.primaryTeam.overall %>) <%= data.basketball.rankings.primaryTeam.conference %></h1>
<h4>Big 12 Basketball Standings</h4>   
<table>
       <thead>
           <tr>
               <th></th>
               <th>Team</th>
               <th>Overall</th>
               <th>Conference</th>
           </tr>
       </thead>
       <tbody>
           <% for(var i=0; i < data.basketball.rankings.teams.length; i++) { %>
           <tr>
                <td>
                    <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %><a href="/texas-row"></a><% } %>
                    <a href="<%= teamLink[data.basketball.rankings.teams[i].abbreviation] %>"></a>
                </td>
               <td>          
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                       <strong>
                   <% } %>             
                        
                   <% if(data.basketball.rankings.teams[i].rank) { %>
                    <em><%= data.basketball.rankings.teams[i].rank %></em>
                <% } %><%= data.basketball.rankings.teams[i].name %>
                    </a>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                   </strong>
                   <% } %>
               </td>
               <td>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                       <strong>
                   <% } %>
                   <%= data.basketball.rankings.teams[i].overall %>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                       </strong>
                   <% } %>
               </td>
               <td>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                       <strong>
                   <% } %>
                       <%= data.basketball.rankings.teams[i].conference %>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                   </strong>
                   <% } %>
               </td>
           </tr>
           <% } %>
       </tbody>
   </table>
   <% if(data.basketball.schedule.post.length > 0) { %>
        <h4>Post Season</h4>
        <%- include('../views/partials/sidebar/v2/partials/schedule', { type: 'post', sport: 'basketball', data }) %>
   <% }%>
   <h4>Regular Season</h4>
   <%- include('../views/partials/sidebar/v2/partials/schedule', { type: 'regular', sport: 'basketball', data }) %>

