<h1><a href="/r/BigXII">Basketball</a>: (<%= data.basketball.rankings.primaryTeam.overall %>) <%= data.basketball.rankings.primaryTeam.conference %></h1>
<h4>Big 12 Basketball Standings</h4>   
<table>
       <thead>
           <tr>
               <th></th>
               <th>Team</th>
               <th>Overall</th>
               <th>Conference</th>
           </tr>
       </thead>
       <tbody>
           <% for(var i=0; i < data.basketball.rankings.teams.length; i++) { %>
           <tr>
                <td>
                    <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %><a href="/texas-row"></a><% } %>
                    <a href="<%= teamLink[data.basketball.rankings.teams[i].abbreviation] %>"></a>
                </td>
               <td>          
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                       <strong>
                   <% } %>             
                        
                   <% if(data.basketball.rankings.teams[i].rank) { %>
                    <em><%= data.basketball.rankings.teams[i].rank %></em>
                <% } %><%= data.basketball.rankings.teams[i].name %>
                    </a>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                   </strong>
                   <% } %>
               </td>
               <td>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                       <strong>
                   <% } %>
                   <%= data.basketball.rankings.teams[i].overall %>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                       </strong>
                   <% } %>
               </td>
               <td>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                       <strong>
                   <% } %>
                       <%= data.basketball.rankings.teams[i].conference %>
                   <% if(data.basketball.rankings.teams[i].id == process.env.TEAM_ID) { %>
                   </strong>
                   <% } %>
               </td>
           </tr>
           <% } %>
       </tbody>
   </table>
   <% if(data.basketball.schedule.post.length > 0) { %>
       <h4>Post Season</h4>
       <table>
               <thead>
                   <tr>
                       <th></th>
                       <th>Opponent</th>
                       <th>TV</th>
                       <th>Score</th>
                   </tr>
               </thead>
               <tbody>
                    <% for(var i=0; i < data.basketball.schedule.post.length; i++) { %>
                    <tr>
                        <td><a href="<%= data.basketball.schedule.post[i].opposingTeam.reddit %>"></a></td>
                        <td>        
                                <strong>
                                     <%= data.basketball.schedule.post[i].homeAway %>
                                     <% if(data.basketball.schedule.post[i].opposingTeam.curatedRank.current < 99) {%>
                                         <em><%= data.basketball.schedule.post[i].opposingTeam.curatedRank.current %></em>
                                     <% } %>                            
                                     <%= data.basketball.schedule.post[i].opposingTeam.team.nickname %>
                                 </strong>
                                 <%= data.basketball.schedule.post[i].date %> - <%= data.basketball.schedule.post[i].venue.address.city %>, <%= data.basketball.schedule.post[i].venue.address.state %>
                            </a>
                        </td>
                            <td><a href="<%= networks[data.basketball.schedule.post[i].network] %>"></a></td>
                        <td>
                            <% if(data.basketball.schedule.post[i].complete) {%>
                            <% if(data.basketball.schedule.post[i].primaryTeam.winner) {%>
                                <strong><a href="/win"></a> <%= data.basketball.schedule.post[i].primaryTeam.score.displayValue %>-<%= data.basketball.schedule.post[i].opposingTeam.score.displayValue %></strong>
                                <% } else { %>
                                <a href="/loss"></a> <%= data.basketball.schedule.post[i].primaryTeam.score.displayValue %>-<%= data.basketball.schedule.post[i].opposingTeam.score.displayValue %>
                                <% } %>
                            <% } else {%>
                                <%= data.basketball.schedule.post[i].time %>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
           </table>
   <% }%>
   <h4>Regular Season</h4>
   <table>
       <thead>
           <tr>
               <th></th>
               <th>Opponent</th>
               <th>TV</th>
               <th>Score</th>
           </tr>
       </thead>
       <tbody>
           <% for(var i=0; i < data.basketball.schedule.regular.length; i++) { %>
            <% 
                var end = moment().add('2', 'weeks');
                var start = moment().subtract('2', 'weeks');
                var eventDate = data.basketball.schedule.regular[i].dateISO;
                if(moment(eventDate).isBetween(start, end)) {
            %>
           <tr>
               <td><a href="<%= data.basketball.schedule.regular[i].opposingTeam.reddit %>"></a></td>
               <td>        
                       <strong>
                            <%= data.basketball.schedule.regular[i].homeAway %>
                            <% if(data.basketball.schedule.regular[i].opposingTeam.curatedRank.current < 99) {%>
                                <em><%= data.basketball.schedule.regular[i].opposingTeam.curatedRank.current %></em>
                            <% } %>                            
                            <%= data.basketball.schedule.regular[i].opposingTeam.team.nickname %>
                        </strong>
                        <%= data.basketball.schedule.regular[i].date %> - <%= data.basketball.schedule.regular[i].venue.address.city %>, <%= data.basketball.schedule.regular[i].venue.address.state %>
                   </a>
               </td>
                   <td><a href="<%= networks[data.basketball.schedule.regular[i].network] %>"></a></td>
               <td>
                   <% if(data.basketball.schedule.regular[i].complete) {%>
                   <% if(data.basketball.schedule.regular[i].primaryTeam.winner) {%>
                       <strong><a href="/win"></a> <%= data.basketball.schedule.regular[i].primaryTeam.score.displayValue %>-<%= data.basketball.schedule.regular[i].opposingTeam.score.displayValue %></strong>
                       <% } else { %>
                       <a href="/loss"></a> <%= data.basketball.schedule.regular[i].primaryTeam.score.displayValue %>-<%= data.basketball.schedule.regular[i].opposingTeam.score.displayValue %>
                       <% } %>
                   <% } else {%>
                       <%= data.basketball.schedule.regular[i].time %>
                   <% } %>
               </td>
           </tr>
           <% } %>
           <% } %>
       </tbody>
   </table>
